<a href="https://colab.research.google.com/github/kalyan-81/basics-of-python/blob/main/Date_and_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 20: DATE AND TIME
Python provide three modules:
**datetime**, **time**, **calendar** that help us to deal with dates, times, durations and calendars.
## the datetime moudle contains 4 important classes:
* **datetime** class handles a combination of date and time. it contains attributes year, month, day, hour, minute, second, microsecond,tzinfo(time zone information)
* **date** class handles dates of Gregorian calendar, without taking time zone into consideration, it has the attributes: year, month, and day.
* **time** class handles time assuming that every day has exactly 24 x 60 x 60 second. Its attributes: hour, minute, second, microsecond, and tzinfo.
* **timedelta** class is useful to handle the duration. The duration may be the difference between two date, time, or datetime instances.
# The Epoch
epoch is the point where the time starts. This point is taken as the 0.0 hours of january 1st of the current year.

In [ ]:
# knowing the time since the epoch
import time
epoch=time.time() # calling time() function of time module
print(epoch)# returns how many seoconds gone since the beginning of the current year to now

1645618478.7640774

# localtime()
to convert this seconds into dat and time, we can use **localtime()** function of 'time' module.

In [ ]:
dt=time.localtime(epoch)
print(dt)

time.struct_time(tm_year=2022, tm_mon=2, tm_mday=23, tm_hour=12, tm_min=14, tm_sec=38, tm_wday=2, tm_yday=54, tm_isdst=0)

dt is the object we can access the attibutes in two ways using index and attibutes

In [ ]:
#using index
print(dt[0])
print(dt[1])
print(dt[2])
print(dt[3])
print(dt[4])
print(dt[5])
print(dt[6])
print(dt[7])
print(dt[8])

2022
2
23
12
14
38
2
54
0

In [ ]:
# using attributes to print current date
d=dt.tm_mday
m=dt.tm_mon
y=dt.tm_year
print('current date is : %d - %d - %d'%(d,m,y))

current date is : 23 - 2 - 2022

In [ ]:
# using attributes to print current time
h=dt.tm_hour
m=dt.tm_min
s=dt.tm_sec
print('current time is: %d:%d:%d'%(h,m,s))

current time is: 12:14:38

# Date and Time Now
the current  date and time as shown in our computer system can be known using the following:
* ctime() function of 'time' module
* now() method of  'datetime' class of 'datetime' module
* today() method of 'datetime' class of 'datetime' module

In [ ]:
import time
t=time.ctime()
print(t) # this running in cloud so the time is different
# check in jupyter notebook which is running in local computer

Wed Feb 23 12:23:48 2022

In [ ]:
from datetime import*
t=datetime.now()
print(t)

2022-02-23 12:32:06.255224

In [ ]:
#invidually we can access
print(t.day)
print(t.month)
print(t.year)
print(t.hour)
print(t.minute)
print(t.second)

23
2
2022
12
32
6

# today() method in datetime module

In [ ]:
#finding todays date and time
from datetime import*
tdm=datetime.today()
print(tdm)

2022-02-23 12:36:55.146268

In [ ]:
td=date.today()
td

datetime.date(2022, 2, 23)

# combining date and time
date and time classes belong to datetime module.
we can combine date and time objects using combine() method

In [ ]:
#combining date and time
from datetime import*
d=date(2016,4,29)
t=time(15,30)
dt=datetime.combine(d,t)
print(dt)

2016-04-29 15:30:00

In [ ]:
from datetime import*
dt2=datetime(year=2015,month=6, day=24)
dt3=datetime(2016,6,24,18,30)
dt4=datetime(year=2018,month=5,day=24,hour=8,minute=5)
print(dt2)
print(dt3)
print(dt4)

2015-06-24 00:00:00
2016-06-24 18:30:00
2018-05-24 08:05:00

# replace() method

In [ ]:
# replace the date and time of above dt4
dt5=dt4.replace(year=2022,month=2,day=14)
print(dt5)

2022-02-14 08:05:00

# Formatting dates and times
**strftime()** method represents string format of time.

In [ ]:
from datetime import*
td=date.today()
print(td)
# using strftime() method
print(td.strftime('%d,%B,%Y'))

2022-02-23
23,February,2022

# Format codes used in strftime() Method


```
format code                      meaning                                 example
  %a                     week day as an abbreviated name             Sun,Mon,Tue...Sat
  %A                     week day as full name                       Sunday, Monday,...Saturday
  %w                     weekday  as a decimal number, 0 is Sunday   0, 1, ...6
  %d                     Day of the month as a zero-padded decimal   01, 02,...31
  %b                     Month as an abbreviated name.               Jan,Feb,...Dec
  %B                     Month as full name                          January, February..December
  %m                    Month as zero padded decimal number          01, 02,...12
  %y                    year without century as a zero padded        00,01,...99
  %Y                    year with century as decimal number          0001,0002,...9999
  %H                    Hour(24-hr clock) as zero padded decimal     00,01,02,..23
  %I                    Hour(12-hr clock) as a zero-padded decimal   01,02,...12
  %p                    Either AM or PM                              AM, PM
  %M                    Minute as a zero padded decimal number       00,01,...59
  %S                    Second as a zero padded decimal number       00,01,....59
  %f                    microsecond as a decimal number              000000,000001,....999999
  %Z                    time zone name                               (empty), UTC, EST, CST
  %j                    Day of the year as a zero-padded decimal    001,002,...366
  %U              week number of the year, first sunday in  a new year considered as week 0           00,01,....53
  %W              week number of the year, first monday in a new year considered as week 0           00,01,....53
  %c              Appropriate data and time representation.     Tue Aug 16 21:30:00  1988
  %x              Appropriate date representation                 08/16/88(None), 08/16/1988(en_US)
  %X             Appropriate time representation          21:30:00(en_US)

  %%             A single % character.                       %                            
```

In [ ]:
# finding the day of the year
from datetime import*
# get today's date
td=date.today()
print(td)
# %j return the day of the year as 001,002,003..366
s1=td.strftime('%j')
print('today is ',s1,'the day of the current year')
#find the week day name
s2=td.strftime("%A")
print('It is ',s2)

2022-02-23
today is  054 the day of the current year
It is  Wednesday

In [ ]:
# formatting the current time
from datetime import*
 #create datetime object with current date and time
dt=datetime.now()
print(dt)
#display only time
print('current time:',dt.strftime('%H:%M:%S'))

2022-02-23 15:30:16.422499
current time: 15:30:16

In [ ]:
d,m,y=[int(x) for x in input('enter a date:').split('/')]
dt=date(y,m,d)

enter a date:24/08/2024

In [ ]:
dt

datetime.date(2024, 8, 24)

In [ ]:
# finding  day of the week
from datetime import*
#accept date, month and year from the keyboard
d,m,y=[int(x) for x in input('enter a date:').split('/')]
#store them in date class object 'dt'
dt=date(y,m,d)
#%w-day number and %A full name of the week day
print(dt.strftime('Day %w of the week. This is %A'))

enter a date:26/08/1997
Day 2 of the week. This is Tuesday

In [ ]:
#program to find the difference in number of days, weeks and months between two given dates.
from datetime import*
# enter the two dates from the keyboard
d1,m1,y1=[int(x) for x in input('enter first date:').split('/')]
d2,m2,y2=[int(x) for x in input('enter second date:').split('/')]

#create date class objects with the input
dt1=date(y1,m1,d1)
dt2=date(y2,m2,d2)
#find days difference between these two dates
dt=dt1-dt2
print('days difference=',dt)
#find difference in weeks
weeks,days=divmod(dt.days,7)
print('weeks difference =',weeks)
#find the difference in months
months,days=divmod(dt.days,30)
print('months difference=',months)#

enter first date:22/08/1997
enter second date:4/05/2016
days difference= -6830 days, 0:00:00
weeks difference = -976
months difference= -228

In [ ]:
d1=datetime(2000,6,25,8,00,25)
d2=datetime(2016,5,20,7,55,15)
diff=d2-d1
diff

datetime.timedelta(days=5807, seconds=86090)

In [ ]:
print(diff.days)
print(diff.seconds)
print(diff.microseconds)

5807
86090
0

In [ ]:
# difference between two dates along with times
from datetime import*
#create two datetime objects that store date and time
d1=datetime(2000, 6, 25, 8, 00, 25)
d2=datetime(2016, 5, 20, 7, 55, 15)
# find the difference in days and time
diff=d2-d1
print(diff)
#divide days by 7 to get weeks and remaining days
weeks, days=divmod(diff.days,7)
#divide seconds by 3600 to get hours and remaining seconds
hrs, secs = divmod(diff.seconds,3600)
#divide remaining seconds by 60 to get minutes
mins = secs//60 #get minutes
#take remaining seconds from the remainder of division
secs = secs % 60 # get remaining seconds
print('difference is %d weeks,%d days, %d hours,%d minutes and %d seconds'%(weeks,days,hrs,mins,secs))

5807 days, 23:54:50
difference is 829 weeks,4 days, 23 hours,54 minutes and 50 seconds

# Finding Durations using 'timedelta'
the 'datetime' class of 'datetime' module is useful to find the durations like between two dates or finding the date after adding a period to an existing date. It is possible to know the future dates or previous dates using 'timedelta'.\
The 'timedelta' class object is available in the following format:
**timedelta(days=0,second=0,microseconds=0,milliseconds=0,minutes=0,hours=0,weeks=0)**

All arguments are optional and default to 0. Arguments may be integers or floats, and may be positive or negative.
* only days, seconds and microseconds are stored internally in the 'timedelta' object.
Arguments are converted to those units as:
* a millisecond is converted to 1000 microseconds
* a minute is converted to 60 seconds
* an hour is converted to 3600 seconds
* a week is converted to 7 days

In [ ]:
d1=datetime(2016,4,29,16,45,0)
print(d1)

2016-04-29 16:45:00

In [ ]:
period1=timedelta(days=10,seconds=10,minutes=20,hours=12)
print(period1)

10 days, 12:20:10

In [ ]:
# find the future date and time from an existing date
from datetime import*
d1=datetime(2016,4,29,16,45,0)
period1=timedelta(days=10,seconds=10,minutes=20,hours=12)
# add the period to d1 existing date
future_date=d1+period1
print(future_date)

2016-05-10 05:05:10

In [ ]:
#write the program to find next 10 days continuous dates
from datetime import*
# start with today()
d=date.today()
print(d)
# or any other date
# d=date(1996,6,29)
#add 1 to 9 days and get future dates
for x in range(1,10):
  next_date=d+timedelta(days=x)
  print(next_date)

2022-02-23
2022-02-24
2022-02-25
2022-02-26
2022-02-27
2022-02-28
2022-03-01
2022-03-02
2022-03-03
2022-03-04

# comparing Two dates
it is possible to compare two 'date' class objects.
similarly it is possible to compare the 'datetime' objects also.

In [ ]:
#to know who is older
from datetime import*
#age of person1
d1,m1,y1=[int(x) for x in input('enter the date of birth of person1:').split('/')]
# age of person2
d2,m2,y2=[int(x) for x in input('enter the date of birth of person2:').split('/')]
#create date objects
b1=date(y1,m1,d1)
b2=date(y2,m2,d2)
# compare the birth dates
if b1==b2:
  print('both persons are of equal age')
elif b1>b2:
  print('the second perons is older than first person')
else:
  print('the first person is older than second person')

enter the date of birth of person1:10/1/1990
enter the date of birth of person2:10/2/1989
the second perons is older than first person

# sorting dates
the best way to sort a group of dates is to store them into a list and then apply list's sort() method.

In [ ]:
#sort  a group of given dates in ascending order
from datetime import*
#take an empty list
group=[]
# add today's date to list
group.append(date.today())
# add some more dates to the group
group.append(date(2015,5,24))
group.append(date(2014,3,4))
group.append(date(2023,4,5))
#sort the list
group.sort()
# display sorted dates
for d in group:
  print(d)

2014-03-04
2015-05-24
2022-02-23
2023-04-05

# sleep() method:
to delay the execution of program for a given amount of time we can use **sleep(seconds)** method of 'time' module.

In [ ]:
# example
import time
for i in range(1,10):
  print(i)
  time.sleep(3)# delay the print function for 3 sec for each iteration.

1
2
3
4
5
6
7
8
9

# knowing the time taken by a program(execution time)
* perf_counter():\
to correctly measure the time taken by the programm.
* process_time():\
to measure the time taken by the program + CPU's time in executing the program statements.

In [ ]:
# find the execution time taken by the program
from time import*
t1=perf_counter() # note starting time
#do some processing
i, sum=0,0
while(i<10000000):
  sum+=i
  i+=1
#make the processor or PVM sleep for 3 seconds
sleep(3)# this also measured by perf_counter()
t2=perf_counter()# note ending time of counter

#print execution time
print('execution time=%f seconds'%(t2-t1))
print(sum)

execution time=5.173002 seconds
49999995000000

In [ ]:
# find the execution time taken by the program
from time import*
t1=process_time() # note starting time
#do some processing
i, sum=0,0
while(i<10000000):
  sum+=i
  i+=1
#make the processor or PVM sleep for 3 seconds
sleep(3)# this also measured by perf_counter()
t2=process_time()# note ending time of counter

#print execution time
print('execution time=%f seconds'%(t2-t1))
print(sum)

execution time=2.226569 seconds
49999995000000

# Calendar Module
useful to create any month or any year, using this module we can also check whether a year is leap year or not, using **isleap()** function.

In [ ]:
# check wether the given year is leap or not
from calendar import*
y=int(input('enter year:'))
if(isleap(y)):
  print('y, is leap year')
else:
  print('y, is not leap')

enter year:2000
y, is leap year

# month(year,month) function:

In [ ]:
# print the calendar for the given month of year using month function
from calendar import*
# ask for month and year
yy=int(input('enter year:'))
mm=int(input('enter month:'))
str1=month(yy,mm) # 
print(str1)

enter year:2023
enter month:8
    August 2023
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

#calendar(year,w,l,c,m)
prints the calendar of all months


```
w  represents the width between two columns
l  represents the blank lines between two rows
c  represents column wise space between two rows.
m  represents number of months to be displayed in each row
w,l,c,m are not optional
```

In [ ]:
from calendar import*
print(calendar(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [ ]:
from calendar import*
print(calendar(2024,4,5,6,8))

                                                                                                                                                           2024









             January                                 February                                 March                                   April                                    May                                     June                                    July                                   August




Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun




  1    2    3    4    5    6    7                        1    2    3    4                             1    2    3         1    2    3    4    5    6    7                   1    2    3    4    5                                  1    2         1    2    3    4    5    6    7                        1    2    3    4




  8    9   10   11   12   13   14         5    6    7    8    9   10   11         4    5    6    7    8    9   10         8    9   10   11   12   13   14         6    7    8    9   10   11   12         3    4    5    6    7    8    9         8    9   10   11   12   13   14         5    6    7    8    9   10   11




 15   16   17   18   19   20   21        12   13   14   15   16   17   18        11   12   13   14   15   16   17        15   16   17   18   19   20   21        13   14   15   16   17   18   19        10   11   12   13   14   15   16        15   16   17   18   19   20   21        12   13   14   15   16   17   18




 22   23   24   25   26   27   28        19   20   21   22   23   24   25        18   19   20   21   22   23   24        22   23   24   25   26   27   28        20   21   22   23   24   25   26        17   18   19   20   21   22   23        22   23   24   25   26   27   28        19   20   21   22   23   24   25




 29   30   31                            26   27   28   29                       25   26   27   28   29   30   31        29   30                                 27   28   29   30   31                  24   25   26   27   28   29   30        29   30   31                            26   27   28   29   30   31









            September                                October                                 November                                December




Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun       Mon  Tue  Wed  Thu  Fri  Sat  Sun




                                1              1    2    3    4    5    6                             1    2    3                                       1




  2    3    4    5    6    7    8         7    8    9   10   11   12   13         4    5    6    7    8    9   10         2    3    4    5    6    7    8




  9   10   11   12   13   14   15        14   15   16   17   18   19   20        11   12   13   14   15   16   17         9   10   11   12   13   14   15




 16   17   18   19   20   21   22        21   22   23   24   25   26   27        18   19   20   21   22   23   24        16   17   18   19   20   21   22




 23   24   25   26   27   28   29        28   29   30   31                       25   26   27   28   29   30             23   24   25   26   27   28   29




 30                                                                                                                      30   31