<a href="https://colab.research.google.com/github/kalyan-81/basics-of-python/blob/main/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lecture 13: Dictionary
Unordered collection of items i.e. can't be indexed\
Other compound data types have only values as an element, whereas a dictionary has a KEY:VALUE pair\
Keys are unique, values may not be unique\
Values can be of any data type, but key must be immutable.

In [ ]:
# initialization

d = {} #dict
k={1,2}# set

print(type(d))
print(type(k))

<class 'dict'>
<class 'set'>

In [ ]:
d = {1:'abc', 2:'efg', 'name':'xyz'}

print(d)
print(type(d))

{1: 'abc', 2: 'efg', 'name': 'xyz'}
<class 'dict'>

In [ ]:
# Accessing values

print(d[1])

print(d['name'])

abc
xyz

In [ ]:
print(d[3])

KeyError: ignored

In [ ]:
# # updating dictionary

print(d)

d['name'] = 'lmn'

d['age'] = 20

print(d)

{1: 'abc', 2: 'efg', 'name': 'xyz'}
{1: 'abc', 2: 'efg', 'name': 'lmn', 'age': 20}

In [ ]:
# Deleting elements

del d['name']
print(d)

d.clear()
print(d)

{1: 'abc', 2: 'efg', 'age': 20}
{}

In [ ]:
del d

print(d)

NameError: ignored

In [ ]:
# # Key must immutable

d = {1:'abc', 2:'efg', ['name']:'xyz'}

print(d)

TypeError: ignored

In [ ]:
# # Key must immutable

d = {1:'abc', 2:'efg', 'name':['xyz']}

print(d)

{1: 'abc', 2: 'efg', 'name': ['xyz']}

In [ ]:

d = {1:'abc', 2:'efg', 'name':{'xyz':33,'kln':54,'ram':56}}

print(d)

{1: 'abc', 2: 'efg', 'name': {'xyz': 33, 'kln': 54, 'ram': 56}}

#dictionary methods

#1. clear()
Remove all elements from the dictionary

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
print(human)

human.clear()

print(human)

{'name': 'kalyan', 'age': 24, 'height in cm': 162}
{}

#2.copy() 
copy the human dictionary

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
print(human)
human2=human.copy()
print(human2)

{'name': 'kalyan', 'age': 24, 'height in cm': 162}
{'name': 'kalyan', 'age': 24, 'height in cm': 162}

#3. fromkeys()
Returns a dictionary with the specified keys and value

In [ ]:
x = ('key1', 'key2', 'key3')
y = 0,2,3

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': (0, 2, 3), 'key2': (0, 2, 3), 'key3': (0, 2, 3)}

#4. get()
The get() method returns the value of the item with the specified key.

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
human.get('name')

'kalyan'

#5. items()
returns key,value pairs of dictionary as tuples in a list

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
human.items()

dict_items([('name', 'kalyan'), ('age', 24), ('height in cm', 162)])

#6.keys()
return keys of dictionary as a list

In [ ]:
human.keys()

dict_keys(['name', 'age', 'height in cm'])

#7.pop()
Removes the element with the specified key

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
print(human.pop('age'))
print(human)

24
{'name': 'kalyan', 'height in cm': 162}

#8.popitem()	
Removes the last inserted key-value pair

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
print(human.popitem())
print(human)

('height in cm', 162)
{'name': 'kalyan', 'age': 24}

#9.setdefault()	
Returns the value of the specified key. 
If the key does not exist: insert the key, with the specified value

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
human.setdefault('name')

'kalyan'

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
human.setdefault("father",'ramaswamy')
print(human)

{'name': 'kalyan', 'age': 24, 'height in cm': 162, 'father': 'ramaswamy'}

#10. The update()
method inserts the specified items to the dictionary.\
The specified items can be a dictionary, or an iterable object with key value pairs.

In [ ]:
human={'name':'kalyan','age':24,"height in cm":162}
human.update({'father':'ramswamy'})
print(human)

{'name': 'kalyan', 'age': 24, 'height in cm': 162, 'father': 'ramswamy'}

#11.values()	
Returns a list of all the values in the dictionary

In [ ]:
human.values()

dict_values(['kalyan', 24, 162])

In [ ]:
# order dictionaries

# Order Dictionaries

An ordered dictionary is a dctionary but it will keep the order of the elements.

In [ ]:
from collections import OrderedDict

d=OrderedDict()
d['a']='apple'
d['b']='ball'
d['c']='call'
print(d)
for i, j in d.items():
  print(i,j)

OrderedDict([('a', 'apple'), ('b', 'ball'), ('c', 'call')])
a apple
b ball
c call

In [ ]:
#converting string in to dictionary
str1='vijay=20,ganesh=40,kalyan=90,nikhil=40'
#break the string at comma, and equal signs
lst1=str1.split(',')
print(lst1)
lst2=str(lst1).split('=')
print(lst2)

lst=[]
for x in str1.split(','):
  y=x.split('=')
  lst.append(y)
print(lst)
  
d=dict(lst)
print(d)

['vijay=20', 'ganesh=40', 'kalyan=90', 'nikhil=40']
["['vijay", "20', 'ganesh", "40', 'kalyan", "90', 'nikhil", "40']"]
[['vijay', '20'], ['ganesh', '40'], ['kalyan', '90'], ['nikhil', '40']]
{'vijay': '20', 'ganesh': '40', 'kalyan': '90', 'nikhil': '40'}

In [ ]:
#create a new dictionary with name as string and value as intger
d1={}
for k,v in d.items():
  d1[k]=int(v)

print(d1)

{'vijay': 20, 'ganesh': 40, 'kalyan': 90, 'nikhil': 40}

# converting list into dictionary

In [ ]:
countries=['usa','india','germany','france']
cities=['washington','new delhi','berlin','paris']

z=zip(countries,cities)
d=dict(z)
print(d)

{'usa': 'washington', 'india': 'new delhi', 'germany': 'berlin', 'france': 'paris'}

# sorting the elements of a dictionary using lambda function:

In [ ]:
#sorting a dictionary using key or value pairs
colors={10:'red',35:'green',45:'blue'}
#sort the dictionary using key..that is color code
cl=sorted(colors.items(),key=lambda t:t[0])
print(cl)
#sort the dictionary using value that is color name
cl1=sorted(colors.items(),key=lambda x:x[1])
print(cl1)

[(10, 'red'), (35, 'green'), (45, 'blue')]
[(45, 'blue'), (35, 'green'), (10, 'red')]

# find the number of occurrences of each letter in a string using dictionary

In [ ]:
st1='book'
d={}
for x in st1:
  d[x]=d.get(x,0)+1

for k,v in d.items():
    print('key={}\t its occurence={}'.format(k,v))

key=b	 its occurence=1
key=o	 its occurence=2
key=k	 its occurence=1