<a href="https://colab.research.google.com/github/kalyan-81/basics-of-python/blob/main/input_output_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Taking input from user in python**
using **input()** function

In [19]:
val=input("enter you value: ")
print(val)
print(type(val))

enter you value: 25
25
<class 'str'>

In [20]:
val1=input("enter your name: ")
print(val1)
print(type(val1))

enter your name: kalyan
kalyan
<class 'str'>

In [21]:
val1=input("enter your float num: ")
print(val1)
print(type(val1))

enter your float num: 50.84
50.84
<class 'str'>

In [24]:
val1=input("enter your complex num: ")
#print(val1)
print(val1)
print(type(val1))

enter your complex num: 1+2j
<class 'str'>

# **Type casting**

In [26]:
#type casting input to integer
num1=input("enter the num1: ")
num2=input("enter the num2: ")
num3=int(num1)
num4=int(num2)
print(num3+num4)
print(num1 + num2)

enter the num1: 4
enter the num2: 5
9
45

In [28]:
print("master" +' '+ "python")

master python

In [29]:
print(4 + 5)

9

In [30]:
print('4' + "6")

46

In [31]:
#type casting input to integer
num1=int(input("enter num1: "))
num2=int(input("enter num2: "))
print(num1+num2)

enter num1: 5
enter num2: 10
15

In [32]:
#type casting input to float
num1=float(input("enter the num1: "))
num2=float(input("enter the num2: "))
print(num1+num2)

enter the num1: 40.6
enter the num2: 50.3
90.9

In [34]:
#type casting input to string
text=str(input("enter the string value"))
print(text)
type(text)

enter the string valuemaster python
master python

str

# **Taking multiple inputs from user**

using two methods
* **split()**
* **list comprehension**

In [40]:
b,g=input("enter a two values with space separtion").split()

print("number of boys:" ,b)
print("number of girls: ",g)

enter a two values with space separtion20 50
number of boys: 20
number of girls:  50

In [41]:
b,g=input("enter a two values with space separtion").split()

#print("number of boys:" ,b)
#print("number of girls: ",g)
print("number of boys are {} and number of girls are{}".format(b,g))

enter a two values with space separtion30 50
number of boys are 30 and number of girls are50

In [46]:
x,y=[2,5]
print(x)
print(y)

2
5

In [50]:
a,b,c,d,e=[int (x) for x in input('enter the values').split()]
print(a)
print(b)
print(c)

enter the values1 2 3 4 5
1
2
3

In [56]:
b=[int (x) for x in input('enter the values').split(",")]


print(b)
type(b)

enter the values1,2,3,4,5
[1, 2, 3, 4, 5]

list

In [57]:
x=[int (x) for x in input('enter the values').split(",")]
print(x)

enter the values1,2,3,4,5,6,7
[1, 2, 3, 4, 5, 6, 7]

# **Output the results using print() function**

In [59]:
print("master Python tutorial\nis best for python content\nkalyan")

master Python tutorial
is best for python content
kalyan

In [63]:
print("master python tutorials\t\tis best for Python content")

master python tutorials		is best for Python content

In [66]:
print("master python tutorials \r is best for python content \r super")

 super

# **end=" " statement**

In [74]:
print("Hello")
print("welcome")
print("To")
print("My channel")

Hello
welcome
To
My channel

In [71]:
print("Hello welcome To My channel")

Hello welcome To My channel

# **Separator**

In [76]:
b="To"
print("Hello",b,"My world",sep=",")

Hello,To,My world

In [77]:
b="To"
print("Hello",b,"My world")

Hello To My world

In [78]:
b="To"
print("Hello",b,"My world",sep="#")

Hello#To#My world

In [83]:
print("H","e","l","l","o",sep='*')

H*e*l*l*o