<a href="https://colab.research.google.com/github/kalyan-81/basics-of-python/blob/main/Python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Numerical data types**

In [11]:
#int, float, complex
a=20 #example for int
b=30.5 # example for float
c=1+4j #complex
d=1j  #complex
e=2j+1 #complex

In [8]:
print(e)
print(type(e))

(1+2j)
<class 'complex'>

In [13]:
f=j2+1 #this is not complex

NameError: ignored

In [12]:
d=1+3i # this is not complex

SyntaxError: ignored

In [15]:
d=1+3j #this complex

# **Text data type or string data type**

In [22]:
#example for string
var='master python tutorials'
print(var)
print(type(var))

master python tutorials
<class 'str'>

In [24]:
var[7]="P"
print(var[7])

TypeError: ignored

# **List data type**

In [27]:
#example for list
b=[1,4.5,"master",2+3j]
print(b)
print(type(b))

[1, 4.5, 'master', (2+3j)]
<class 'list'>

In [29]:
print(b[2])

master

In [32]:
b[2]="python"
print(b)

[1, 4.5, 'python', (2+3j)]

# **Tuple data type**

In [39]:
#case 1
c=(1,4.3,1+3j,"master python")
print(c)
print(type(c))

(1, 4.3, (1+3j), 'master python')
<class 'tuple'>

In [40]:
print(c[3])

master python

In [41]:
c[3]="Python"
print(c)

TypeError: ignored

In [34]:
#case 2
c=1,4.3,1+3j,"master python"
print(c)
print(type(c))

(1, 4.3, (1+3j), 'master python')
<class 'tuple'>

In [37]:
d=1,
print(d)
print(type(d))

(1,)
<class 'tuple'>

# **Dictionary data type**

In [44]:
#example for dictionary data type
# syntax {key1:value1,key2:value2,Key3:value3}
x={1:"k",2:40,3:20.4,"one":"only"}
print(x)
print(type(x))

{1: 'k', 2: 40, 3: 20.4, 'one': 'only'}
<class 'dict'>

In [47]:
print(x[1])
print(x['one'])

k
only

In [48]:
x['one']="two"
print(x)

{1: 'k', 2: 40, 3: 20.4, 'one': 'two'}

# **Set data types**

In [49]:
#example for sets
d={1,2,3,4,"math","social",20.4,1+4j}
print(d)
print(type(d))

{1, 2, 3, 4, 'social', (1+4j), 20.4, 'math'}
<class 'set'>

In [55]:
#example for duplicate
d={"apple","banana","apple",1,3,1,2,"kalhan",3.2,6.5}
print(d)

{'apple', 1, 2, 3, 3.2, 6.5, 'banana', 'kalhan'}

TypeError: ignored

# **Boolean data types**

In [57]:
#example for boolean data types
print(10>9)
print(10<9)
print(10==10)

True
False
True