<a href="https://colab.research.google.com/github/kalyan-81/basics-of-python/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 11: Tuples
Similar to list but immutable.\
Sequence data type.\
Supports indexing and slicing.

In [ ]:
#initialization

t = ()

print(type(t))

print(t)

<class 'tuple'>
()

In [ ]:
t = tuple()

print(type(t))
print(t)

<class 'tuple'>
()

In [ ]:
t = (1,2,3)

print(t)

(1, 2, 3)

In [ ]:
t = (1, 'Python', 1.2, 'ThatAIGuy')

print(t)

(1, 'Python', 1.2, 'ThatAIGuy')

In [ ]:
t = (1, (1, 2, 3), [1, 2, 3])

print(t)

(1, (1, 2, 3), [1, 2, 3])

In [ ]:
t1 = (1)

print(type(t1))

t2 = ('ThatAIGuy')

print(type(t2))

<class 'int'>
<class 'str'>

In [ ]:
t = 1,2

print(type(t))
print(t)
t = 'ThatAIGuy',2
print(t)

print(type(t))

<class 'tuple'>
(1, 2)
('ThatAIGuy', 2)
<class 'tuple'>

In [ ]:
# Accessing with index

t = (1, 2, 3)

print(t[-1])

# Slicing

print(t[1:30])

3
(2, 3)

In [ ]:
# # # Tuples are Immutable

t = (1, 2, 3, (4, 5), [6, 7, 8])

t[2] = 'Hi'

TypeError: ignored

In [ ]:
t = (1, 2, 3, 4, 5, 6, 7, 1, 2, 1, 7)

# # count(element)
print(t.count(1))

# # index(element)
print(t.index(7))

# # len()
print(len(t))

# # min()
print(min(t))

# # max()
print(max(t))

# # sum()
print(sum(t))

3
6
11
1
7
39

In [ ]:
# # del the tuple
del t

print(t)

NameError: ignored

In [ ]:
t1=(1,2,3)
t2=(3,2,4)
print(t1+t2)
print(t2)

(1, 2, 3, 3, 2, 4)
(3, 2, 4)